/* product card  */
.product{
    display: flex;
    gap: 20px;
    padding-top: 7rem;
   }
  .cardd{
    background: linear-gradient(to right, #4daf54,#3d8880);
    margin: 20px auto;
    width: 320px;
    height: 320px;
    padding: 20px;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
  }
  .card__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
  }
  .card__img{
    transition: 0.5s;
    align-items: center;
    justify-items: center;
  }
  .card__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: #002222;
  }
  .card__title, .card__price{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-shadow: #002222;
    transition: 0.5s;
  }
  .card__title{
    padding-top: 10px;
    color: #665945;
    font-weight: bold;
    
  }
  .card__price{
    color: #F6E6C4;
  }
  
  .card__size, .card__color{
    display: flex;
    align-items: center;
    padding-top: 5px;
    font-weight: bold;
  }
  .card__size span{
    padding: 1px 5px;
    background: gainsboro;
    border-radius: 5px;
    margin: 5px;
    color: black;
  }
  .card__color__gray{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
  .card__color{
    padding-bottom: 5px;
  }
  .card__action{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .card__action button{
    border: none;
    background: #665945;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
  }
  .cardd:hover .card__img{
    transform: rotate(20deg) translateY(-90px);
  }
  .cardd:hover .card__title{
    transform: translate(-36px,-70px);
  }
  .cardd:hover .card__price{
    transform: translate(-101px,-70px);
  }
  .card__button{
   
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  .cardd:hover .card__button{
    visibility: visible;
    opacity: 100;
  }
  .cardd:hover:hover {
    height: 420px;
  }
  .card1:hover {
    height: 600px;
  }
  .card__action:hover button{
    background: #D5CBB6;
    color: #000106;
  }
  .card__heart{
    transition: 0.2s;
  }
  .card__heart:hover{
    color: #D02823;
  }

  @media screen and (max-width: 480px) {
    .product {
      margin-top: 0;
      flex-direction: column;
      height: 66rem;
      padding: 0;
    }
  
    .cardd {
      display: flex;
      flex-direction: column;
    }
  }
   /* product card */